{% extends "base" %}

{% block page_name %}
Cities
{% endblock page_name %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active">Cities</li>
{% endblock breadcrumbs %}

{% block main %}
<div id="jsGrid"></div>
{% endblock main %}

{% block body_end %}
<script>
    create_grid("#jsGrid", "cities.tera")
</script>
{% endblock body_end %}