{% extends "base" %}

{% block page_name %}
Regions
{% endblock page_name %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active">Regions</li>
{% endblock breadcrumbs %}

{% block main %}
Welcome to the home page!
{% endblock main %}